node_modules

dist

.DS_Store

src/assets/sass/tokens/output.json
src/assets/sass/tokens/_figma-variables.scss

build-storybook.log

@types/**/*.stories.d.ts
@types/**/*.test.d.ts
@types

storybook-static
storybook-static/**

.jest-test-results.json
.vscode

coverage